SECRET_KEY="django-insecure-$8s@b*ds4t84-q_2#c0j0506@!l2q6r5_pq5e!vm^_9c*#^66b"
DB_NAME="openklant"
DB_USER="openklant"
#
# These values connect local Django commands to the PostgreSQL container from
# docker-compose.yml.
#
DB_PASSWORD="openklant"
DB_HOST="127.0.0.1"
DB_PORT="5432"

OTEL_SERVICE_NAME=openklant
